  <a href="/products">Produkty</a>
  <a href="/">Home</a>
  <h1> Koszyk</h1>
  <table>
    <thead>
      <tr>
        <th> Nazwa Produktu </th>
        <th> Cena </th>
        <th> Wybrana ilość </th>
      </tr>
    </thead>
    <tbody>
      <% basket.each do |b| %>
    <tr>
      <td><%= b[:product].name %></td>
      <td><%= b[:product].price %></td>
      <td><%= b[:quantity] %></td>
    </tr>
<% end %>
    </tbody>
  </table>
