  <a href="/products">Produkty</a>
  <a href="/">Home</a>
  <h1> Koszyk</h1>
  <table>
    <thead>
      <tr>
        <th> ID </th>
        <th> Nazwa Produktu </th>
        <th> Cena </th>
        <th> Dostępna ilość </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
