<html>
  <head>
    <title>Sklep Zeglarski</title>
    <link rel="stylesheet" type= "text/css" href="/style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <div>
        <h1>Sklep Zeglarski</h1>
      </div>
      <nav>
      </nav>
    </header>
    <section class="table_field">
    <%= yield %>
  </section>
  </body>
</html>
