body{
  background-color: #003d66;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  color: #fff;
}

header{
  height:120px;
  width:100%;
  position:fixed;
  top:0px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
}
a{
  text-decoration: none;
  margin-right: 3%;
  float:right;
  padding:1%;
  color: #003d66;
}
.menu a{
  color: #fff;
}
a:hover{
   background-color: rgba(255, 255, 255, 0.2);
 }

.table_field{
  margin: 10% 20%;
}

.basket-table{
  width:100%;
}

table {
    background-color: #fff;
    width: 85%;
    color: #003d66;
    border-radius: 5px;
}
th {
  width: 30px;
}

tbody tr:nth-child(2n+1) {
    background-color: #e6f5ff;
}

 th, td {
   padding: 2%;
   text-align: center;
}
