<a href="/basket">Koszyk</a>
<a href="/">Home</a>
<h1> Produkty</h1>
  <table>
    <thead>
      <tr>
        <th> Nazwa Produktu </th>
        <th> Cena </th>
        <th> Dodaj do koszyka </th>
      </tr>
    </thead>
    <tbody>
      <% products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %> zl</td>
        <td><form action="/basket" method="post">
  <input type="hidden" name="product_id" value=<%= product.id %>>
  <input type="number" name="quantity" value=1>
  <input type="submit" value="Dodaj">
</form></td>
    </tr>
    <%end%>
  </tbody>
</table>
